[user]
    email = warpmatrixlyk@gmail.com
    name = warpmatrix
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[alias]
    stat = status --short --branch
    st = stash
    rs = reset
    co = checkout
    cm = commit
    br = branch
    rb = rebase
    lg = log --graph --decorate --oneline
    unstage = reset HEAD --
[core]
    editor = vim
