[submodule ".vim/pack/tpope/start/commentary"]
	path = .vim/pack/tpope/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/tpope/start/repeat"]
	path = .vim/pack/tpope/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule ".vim/pack/tpope/start/surround"]
	path = .vim/pack/tpope/start/surround
	url = https://tpope.io/vim/surround.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".vim/pack/wakatime/start/vim-wakatime"]
	path = .vim/pack/wakatime/start/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
